/* Importing Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* home page and header  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #7B4A2D;
  z-index: 9999;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo {
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
  text-decoration: none;
}

.navbar .logo span {
  color: #C06B3E;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: #C06B3E;
}

.hero-section {
  height: 100vh;
  background-image: url("img2/WhatsApp Image 2023-10-23 à 16.50.14_1ce54313.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.hero-section .content h2 {
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
}

.hero-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}

.hero-section .content button {
  background: #EAC696;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 38px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.hero-section .content button:hover {
  color: #ffffff;
  background: #C06B3E;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #000000;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

  #hamburger-btn,
  #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #000;
  }

  .hero-section .content {
    text-align: center;
  }

  .hero-section .content :is(h2, p) {
    max-width: 100%;
  }

  .hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }

  .hero-section .content button {
    padding: 9px 18px;
  }
}

/* section  about  */


.page {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; 
  padding: 20px;
}



.three-section {
  background-color: #EAC696;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.three-section h1 {
  color: #ffffff;
  font-size: 70px;
}
.three-section h2 {
  color: hsla(0, 0%, 0%, 0.656);
  font-size: 30px;
}

.three-section p {
  color: #ffffff;

}
.pr2{
  margin-left: 90px;
}


.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.left, .right {
  flex: 1;
  text-align: center;
  margin-right: 10px; 
  margin-left: 10px; 
}

.image {
  width: 500px;
  height: 300px;
  margin-top: 20px;
}

.caption {
  text-align: center;
  font-style: italic;
}

/* Media query for screens with a max width of 700px (mobile large) */
@media (max-width: 700px) {
  .three-section h1 {
    font-size: 40px; 
  }

  .three-section p {
    font-size: 0.5em; 
  }

  .left, .right {
    margin-right: 0; 
    margin-left: 0; 
  }

  .image {
    width: 100%; 
    height: auto;
  }
}



/* section four  */
.testimonials-section {
  background-color: #C8AE7D;
  /* background-image: url("img2/WhatsApp Image 2023-10-23 à 16.49.55_b667bac2.jpg"); */
  background-size: cover;
  z-index: 0;

}

.left-testimonials-top {
  display: flex;
  background-color: rgba(0, 0, 0, 0.505);
  margin-right: 50px;
}

.about-title {
  text-align: center;
  font-size: 70px;
  color: #ffffff;
}

.left-testimonials-bottom {
  display: flex;
  background-color: rgba(0, 0, 0, 0.505);
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 32px
}

/* .right-testimonials {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #000000;
} */

.sec-testimonials {
  display: flex;
  margin-top: 100px;
  margin-left: 190px;
  margin-right: 190px;
}

/* .text-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.text-testimonials .p1,
.text-testimonials .p2 {
  margin-left: 20px;
  color: #ffffffc7;
  font-size: 15px;
}

.text-testimonials h1 {
  font-size: 44px;
  margin-left: 200px;
  color: #AA6100;
}

.testimonials-button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid white;
  margin-left: 45%;
  margin-top: 50px;
  margin-bottom: 150px;
  border-radius: 25px;
  height: 60px;
  width: 19 0px;
}

.testimonials-button:hover {
  background-color: #C06B3E;
  cursor: pointer;
}

.paragraph-testimonials {
  margin-left: 13%;
  margin-right: 13%;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

@media (max-width: 700px) {
  .left-testimonials-top,
  .left-testimonials-bottom,
  .right-testimonials,
  .sec-testimonials,
  .paragraph-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
    z-index: 5;
  }
  .left-testimonials-top,
  .left-testimonials-bottom,
  .right-testimonials,
  .sec-testimonials,
  .paragraph-testimonials {
    position: relative;
    content: "";
    top: -20px;
    right: 20px;
  }


  .about-title {
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .testimonials-button {
    margin-left:25%;/*button center*/
    margin-bottom: 20px;

  }
}





/* section five  */




.pottery-exhibition-section {
  display: flex;
  padding: 0 35px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
  background: #BA704F;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  position: relative;
}

.header {
  text-align: center;
  margin-top: 100px;
}

.header h1 {
  color: #f2f2f2;
  font-size: 70px;
}

.header p {
  color: #f2f2f2;
  font-size: 25px;
}

.carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #385c92;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #523f3f;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #60b5ff;
}

.wrapper i.left {
  left: -22px;
  margin-top: 100px;
  display: none;
}

.wrapper i.right {
  right: -22px;
  margin-top: 100px;

}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child {
  margin-left: 0;
}

.more-button {
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  height: 60px;
  width: 190px;
}

.more-button:hover {
  background-color: #000000;
  color: white;
}




/* section sex  */
.new-crafting-pottery-section {
  /* background-color: black; */
  color: white;
  text-align: center;
  font-family: 'Itim', cursive;
  z-index: 2;
}

.new-crafting-pottery-section h1 {
  font-size: 50px;
  margin-top: 90px;
  font-family: 'Itim', cursive;
 
}

.new-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 80%;
  height: 400px;
  margin: 20px;
  background-color: rgba(255, 252, 252, 0.655);
  border-radius: 10px;
}

.new-section img {
  max-width: 50%;
  border-radius: 5px;
}

.new-section p {

  max-width: 50%;
  color: #000000;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .header h1 {
    color: #f2f2f2;
    font-size: 70px;
  }

  .new-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .text-testimonials h1{
    margin: 10px;
  }
  .section {
    display: block;
  }
  .three-section p{
    margin: 0;
  }
  body{
    padding: 0 !important;
  }


  .wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #385c92;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #523f3f;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }

  



  }



/* contact style  */



body {
  font-family: Arial, sans-serif;
  background-color: #C08261;
}

.container {
  width: 80%;
  max-width: 1010px;
  margin: 20px auto;
  padding: 20px;
  /* background: #0000005a; */
  border-radius: 5px;
  margin-bottom:20px ;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff61;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  background: #000000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(172, 63, 4);
  color: white;
}

/* Responsive Styles */
@media screen and (max-width: 700px) {
  .container {
      width: 100%;
  }

  input, button {
      padding: 8px;
  }
}

/* FAQ  */

.FAQ{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #E2C799;
  /* background-image:url("images/H9BNlvDcR7u4FE1_vP_MPQ 1.png") ; */
  padding: 40px;
}
::selection{
  background: #7d2ae8;
  color: #fff;
}
.accordion{
  display: flex;
  max-width: 1010px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
}
.accordion .image-box{
  height: 360px;
  width: 300px;
}
.accordion .image-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.accordion .accordion-text{
  width: 60%;
}
.accordion .accordion-text .title{
  font-size: 35px;
  font-weight: 600;
  /* color: #7d2ae8; */
  font-family: 'Fira Sans', sans-serif;
}
.accordion .accordion-text .faq-text{
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}
.faq-text::-webkit-scrollbar{
  display: none;
}
.accordion .accordion-text li{
  list-style: none;
  cursor: pointer;
}
.accordion-text li .question-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-text li .question-arrow .question{
  font-size: 18px;
  font-weight: 500;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li .question-arrow .arrow{
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow{
  transform: rotate(-180deg);
}
.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li .line{
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.accordion-text li p{
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #595959;
  display: none;
}
.accordion-text li.showAnswer p{
  display: block;
}

@media (max-width: 994px) {
  body{
    padding: 40px 20px;
  }
  .accordion{
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }
  .accordion .image-box{
    height: 360px;
    width: 220px;
  }
  .accordion .accordion-text{
    width: 63%;
  }
}
@media (max-width: 820px) {
  .accordion{
    flex-direction: column;
  }
  .accordion .image-box{
    height: 360px;
    width: 300px;
    background: #cb59179f;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }
  .accordion .accordion-text{
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 538px) {
  .accordion{
    padding: 25px;
  }
  .accordion-text li p{
    width: 50%;
  }
}

/* footer style  */

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer-content {
  text-align: center;
}

.footer h3 {
  font-size: 24px;
}

.footer p {
  font-size: 14px;
  line-height: 1.5;
}

.socials {
  list-style: none;
  padding: 0;
}

.socials li {
  display: inline;
  margin: 0 10px;
}

.socials a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Styles spécifiques pour les écrans de 700px de largeur et moins */
@media screen and (max-width: 700px) {
  .footer h3 {
    font-size: 20px; 
  }

  .footer p {
    font-size: 12px; /* Réduire la taille de la police pour les petits écrans */
  }

  .socials li {
    margin: 0 5px; /* Réduire l'espacement entre les icônes de médias sociaux */
  }
}

/* Styles pour le bas de la section "footer" */
.footer-bottom {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 12px;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
}

.footer-menu {
  margin-top: 10px;
}

.f-menu {
  list-style: none;
  padding: 0;
}

.f-menu li {
  display: inline;
  margin: 0 10px;
}

.f-menu a {
  color: white;
  text-decoration: none;
}


/* footer  */

footer {
  background-color: rgba(0, 0, 0, 0.363);
  font-family: 'Poppins', sans-serif;
  position: relative;
  color: white;
}

.background {
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.list-group,
.contact-group {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  padding: 0;
}

.fin {
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

/* Larger Layout Styles (e.g., for screens wider than 700px) */
@media screen and (min-width: 700px) {
  footer {
    height: 100vh;
  }

  .footer-image {
    width: 200px;
    margin-top: -150px;
    margin-right: -150px;
  }

  .background {
    gap: 100px;
    padding-top: 200px;
  }

  .right-content {
    float: left;
    margin-left: -350px;
  }

  .right-content ul {
    list-style-type: none;
    padding: 0;
  }

  .right-content li {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

/* Mobile Layout Styles (e.g., for screens narrower than 700px) */
@media screen and (max-width: 700px) {
  .footer-image {
    width: 150px;
    margin-top: 0;
    margin-right: 0;
  }

  .background {
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
  }

  .right-content {
    float: none;
    margin-left: 0;
  }

  .right-content ul {
    text-align: center;
  }

  .right-content li {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

